.containerCss {
    position: relative;
    width: 925px;
    height: 650px;
    background: var(--background);
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    overflow: hidden;
    transition: .6s ease-in-out 1.2s, visibility 0s 1s;
}

.containerCss h1 {
    font-size: 36px;
}

.containerCss p {
    font-size: 14.5px;
    margin: 15px 0;
}

form {
    width: 100%;
}

.form-box {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    padding: 40px;
    color: var(--black);
    background: var(--background);
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 1;
    transition: .6s ease-in-out 1.2s, visibility 0s 1s;
}

.containerCss.active .form-box {
    right: 50%;
}

.form-box.register {
    visibility: hidden;
}

.containerCss.active .form-box.register {
    visibility: visible;
}

.containerCss.active .form-box.login {
    visibility: hidden;
}

.input-box {
    position: relative;
}

.input-box input {
    width: 100%;
    padding: 12px 45px 12px 20px;
    background: var(--middleColor);
    color: black;
    outline: none;
    box-shadow: none;
    border-radius: 12px;
    border: 3px solid var(--buttonShadow2);
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.input-box input:focus {
    border-color: var(--secondary);
    box-shadow: 0 0 0 4px var(--buttonShadow2);
}

.input-box input:hover {
    border: 3px solid var(--secondary)
}

.input-box input::placeholder {
    color: #888;
    font-weight: 400;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    color: black;
    transform: translateY(-50%);
    font-size: 20px;
}

.forgot-link {
    margin: -15px 0 15px;
}

.forgot-link a {
    font-size: 14.5px;
}

.btn {
    width: 100%;
    height: 48px;
    color: black;
    background: var(--secondary);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.btn:hover {
    transform: scale(1.01);
    box-shadow: 0 20px 40px var(--buttonShadow), 0 0 0 2px var(--buttonShadow2);
}

.toggle-box {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    background: var(--background);
    transition: .6s ease-in-out 1.2s, visibility 0s 1s;
    overflow: hidden;
}

.toggle-box::before {
    content: '';
    position: absolute;
    left: -250%;
    width: 300%;
    height: 100%;
    background: var(--primary);
    /* border: 2px solid red; */
    border-radius: 150px;
    z-index: 2;
    transition: 1.0s ease-in-out;
}

.containerCss.active .toggle-box::before {
    left: 50%;
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    /* background: seagreen; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: .6s ease-in-out;
}

.toggle-panel.toggle-left {
    left: 0;
    transition-delay: 1.2s;
}

.containerCss.active .toggle-panel.toggle-left {
    left: -50%;
    transition-delay: .6s;
}

.toggle-panel.toggle-right {
    right: -50%;
    transition-delay: .6s;
}

.containerCss.active .toggle-panel.toggle-right {
    right: 0;
    transition-delay: 1.2s;
}

.toggle-panel p {
    margin-bottom: 20px;
}

.toggle-panel .btn {
    width: 160px;
    height: 46px;
    background: transparent;
    border: 2px solid #fff;
    box-shadow: none;
}

@media screen and (max-width: 1024px) {
    .containerCss {
        width: 95dvw;
    }
}

@media screen and (max-width: 768px) {
    .containerCss {
        min-height: 825px;
    }

    .containerCss h1 {
        font-size: 28px;
    }

    .form-box {
        bottom: 0;
        width: 100%;
        height: 65%;
        align-items: flex-start;
    }

    .containerCss.active .form-box {
        right: 0;
        bottom: 35%;
    }

    .toggle-box::before {
        left: 0;
        top: -270%;
        width: 100%;
        height: 305%;
        border-radius: 20vw;
    }

    .containerCss.active .toggle-box::before {
        left: 0;
        top: 65%;
    }

    .containerCss.active .toggle-panel.toggle-left {
        left: 0;
        top: -31%;
    }

    .toggle-panel {
        width: 100%;
        height: 30%;
    }

    .toggle-panel.toggle-left {
        top: 25px;
    }

    .toggle-panel.toggle-right {
        right: 0;
        bottom: -35%;
    }

    .containerCss.active .toggle-panel.toggle-right {
        bottom: 15px;
    }

}

@media screen and (max-width: 400px) {
    .containerCss {
        height: 100dvh;
        width: 100dvw;
        border-radius: 0%;
    }
    .form-box {
        padding: 10px 20px;
    }

    .toggle-panel h1 {
        font-size: 30px;
    }
}